##############################################################################################
#  Copyright Accenture. All Rights Reserved.
#
#  SPDX-License-Identifier: Apache-2.0
##############################################################################################

# Build corda os docker images triggered by :
#  - push on main branch for latest tags
#  - Can be triggered manually

name: Build Corda Opensource helper images

on:
  workflow_dispatch:
    inputs:
      gmaps_key:
        description: 'Enter Google Maps API key'
        required: false
        default: 'Google API key for Network Map'
  push:
    branches:
      - main
    paths:
      - 'images/**'
      - '.github/workflows/img_helper_corda.yml'

env:
  REGISTRY: ghcr.io
  IMAGE_PATH: ghcr.io/${{ github.repository_owner }}

jobs:
  # on push to main branch, create docker tags latest
  cordaOS-latest:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '8'

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Login to the container registry
      uses: docker/login-action@v1
      with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

    - name: Lowercase IMAGE_PATH
      id: image_path_format
      uses: ASzc/change-string-case-action@v2
      with:
        string: ${{ env.IMAGE_PATH }}

    - name: corda builds
      run: |
        WDIR=`pwd`

        java -version
        update-alternatives --list java

        echo "---- building networkmap ----"
        cd ${WDIR}/images/networkmap

        # Replace the Google Maps API key in two files
        sed -i -e 's*REPLACE_ME_GMAPS_KEY*${{ github.event.inputs.gmaps_key }}*g' website/app/scripts/geoCode.js
        sed -i -e 's*REPLACE_ME_GMAPS_KEY*${{ github.event.inputs.gmaps_key }}*g' website/app/components/Map/MyMap.js

        mvn clean install -DskipTests

        echo "---- building doorman ----"
        cd ${WDIR}/images/doorman
        mvn clean install -DskipTests

    - name: Build and push cordaOS doorman latest
      id: corda_doorman_latest
      uses: docker/build-push-action@v2
      with:
        context: images/doorman
        push: true
        tags: ${{ steps.image_path_format.outputs.lowercase }}/bevel-doorman-linuxkit:latest

    - name: Build and push cordaOS networkmap latest
      id: corda_networkmap_latest
      uses: docker/build-push-action@v2
      with:
        context: images/networkmap
        push: true
        tags: ${{ steps.image_path_format.outputs.lowercase }}/bevel-networkmap-linuxkit:latest
